/*.a
/*.app
/*.dll
/*.dylib
/*.exe
!/documentation/synthesis_tutorial/windows/*.exe
/*.gch
/*.la
/*.lai
/*.lib
/*.lo
/*.mod
/*.o
/*.obj
/*.out
/*.pch
/*.slo
/*.so
/*.txt.user
/.DS_Store
/.DS_Store?
/.Spotlight-V100
/.Trashes
/._*
/.idea
.DS_Store
/.texpadtmp
/.tags
/Thumbs.db
*.[oa]
*~
Makefile
Makefile*
!Makefile.in
!Makefile.am
!Makefile.def
!makefile.in
!makefile.am
CMakeCache.txt
CMakeFiles
CMakeScripts
build/
build_dbg/
deps/buddy-2.4/autom4te.cache/
.vagrant
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.brew_home
.vscode/
playbook.retry

projectFilesBackup/

cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.cpp_parameters
qrc_*.cpp
ui_*.h
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

Testing
tools/__pycache__/

.envrc

buttons.jsonc

# Documentation
Doxyfile
html/
documentation/Doxyfile

HAL_DEPLOYMENT_KEY
HAL_GPG_KEY
changelog
hal_pass
