# require explicit add of unfinished libraries
*
!example_library.hgl
!XILINX_SIMPRIM.hgl
!XILINX_UNISIM.hgl
!ice40ultra.hgl
!lsi_10k.hgl
!NangateOpenCellLibrary.hgl
!NanGate_15nm_OCL.hgl
!helper_libs/aoixm_hal_i4.hgl
!helper_libs/im_hal_i4.hgl