*
!boolean_influence*
!boolean_influence/**/*
!dataflow_analysis*
!dataflow_analysis/**/*
!example_gate_library*
!example_gate_library/**/*
!gate_libraries*
!gate_libraries/**/*
!gexf_writer*
!gexf_writer/**/*
!graph_algorithm*
!graph_algorithm/**/*
!gui*
!gui/**/*
!liberty_parser*
!liberty_parser/**/*
!hgl_parser*
!hgl_parser/**/*
!hgl_writer*
!hgl_writer/**/*
!netlist_simulator*
!netlist_simulator/**/*
!python_shell*
!python_shell/**/*
!solve_fsm*
!solve_fsm/**/*
!verilog_parser*
!verilog_parser/**/*
!verilog_writer*
!verilog_writer/**/*
!vhdl_parser*
!vhdl_parser/**/*
!z3_utils*
!z3_utils/**/*
!CMakeLists.txt
!.gitignore
