*
!example_gate_library*
!example_gate_library/**/*
!gate_libraries*
!gate_libraries/**/*
!graph_algorithm*
!graph_algorithm/**/*
!quine_mccluskey*
!quine_mccluskey/**/*
!vhdl_verilog_parsers*
!vhdl_verilog_parsers/**/*
!CMakeLists.txt
!.gitignore
