*
!bitorder_propagation*
!bitorder_propagation/**/*
!boolean_influence*
!boolean_influence/**/*
!dataflow_analysis*
!dataflow_analysis/**/*
!gate_libraries*
!gate_libraries/**/*
!genlib_writer*
!genlib_writer/**/*
!gexf_writer*
!gexf_writer/**/*
!graph_algorithm*
!graph_algorithm/**/*
!gui*
!gui/**/*
!gui_extension_demo*
!gui_extension_demo/**/*
!hawkeye*
!hawkeye/**/*
!hgl_parser*
!hgl_parser/**/*
!hgl_writer*
!hgl_writer/**/*
!liberty_parser*
!liberty_parser/**/*
!logic_evaluator*
!logic_evaluator/**/*
!machine_learning*
!machine_learning/**/*
!module_identification*
!module_identification/**/*
!netlist_preprocessing*
!netlist_preprocessing/**/*
!python_shell*
!python_shell/**/*
!resynthesis*
!resynthesis/**/*
!sequential_symbolic_execution*
!sequential_symbolic_execution/**/*
!simulator
!solve_fsm*
!solve_fsm/**/*
!verilog_parser*
!verilog_parser/**/*
!verilog_writer*
!verilog_writer/**/*
!vhdl_parser*
!vhdl_parser/**/*
!xilinx_toolbox*
!xilinx_toolbox/**/*
!z3_utils*
!z3_utils/**/*
!CMakeLists.txt
!.gitignore
